
nav.navbar {
    background-color: #001a33 !important;
    
    height: 100px;
    padding-top: 0;
   
    
   }
a.navbar-brand{
    font-size: 40px !important;
    margin-top: 30px;
}
img.img-circle{
    margin-top: 13px;
    margin-left: 14px;
}

div.carousel-inner{
    margin-top:-20px;
   width:74%;
   height:760px;
  
    margin-left: auto;
    margin-right: auto;
    
   

}
div.carousel.slide{
    width:1500px;
    height:auto;
    margin:0 auto;
    

}

   
div.bar{
    bottom:0;
} 
   
   
a.navbar-brand {
  
    font-size: 25px;
    color: white;
    vertical-align: bottom;
   }

ul.dropdown-menu{
    background-color: white


}
a.Home{
    color:white;
    
    vertical-align: bottom;
}
a.dropdown-toggle{
    color:white;
    vertical-align: bottom;
}

a.About{
    color:white;
    vertical-align: bottom;
}

ul.nav.navbar-nav.navbar-right a:hover {
    color: #000000; 
    }
ul.nav.navbar-nav.navbar-right {
      
     margin-top:28px;
     font-size:18px;
    
    }
body{
 
    background-size: auto;
    
}
nav.navbar.fixed-bottom{

    margin-top:0px;
    margin-bottom:0px;
    height: 90px;
}
button.btn.btn-li.btn-lg{
    margin-left:1620px;
    margin-right:10px;
    margin-top:20px;
}
button.btn.btn-git.btn-lg{
    margin-top:20px;
    margin-right:10px;
}
button.btn.btn-email.btn-lg{
    margin-top:20px;
    margin-right:10px;
}